* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(230, 196, 134);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  background-color: wheat;
  border-radius: 20px;
}

.btnCard {
  background: rgb(208, 208, 119);
  background: linear-gradient(45deg, rgba(208, 208, 119, 1) 0%, rgba(237, 207, 79, 1) 35%, rgba(246, 209, 8, 1) 100%);
  color: black;
  font-size: 48px;
  height: 100px;
  width: 180px;
  margin-bottom: 5px;
  margin-right: 5px;
}


/*//////////////

STYLE INFO-PARTIDA

//////////////*/

.contador {
  display: flex;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  height: 70vh;
  margin-left: 10px;
}

.card-info h1 {
  text-align: center;
  font-style: italic;
  font-family: monospace;
  width: 65%;
}


/*////////////
////////////
AGREGANDO MODAL DE VICTORIA
////////////
//////////////*/

.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: auto;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .8s;
}
.modal-show{
  opacity: 1;
  pointer-events: unset;
}
.cont-modal{
  width: 50%;
  height: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.cont-modal i{
  position: absolute;
  top: 20px;
  right: 20px;
}
.msj-modal{
  font-size: 2rem;
  margin: 40px 25px;
}
.pie-modal{
  position: absolute;
  bottom: 10%;
  width: 95%;
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*////////////
////////////
AGREGANDO MODAL DE DERROTA
////////////
//////////////*/

.modal-der{
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: auto;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .8s;
}
.modal-show-der{
  opacity: 1;
}
.msj-modal-der{
  font-size: 2rem;
  margin: 60px 15px;
}